{% extends '::base.html.twig' %}

{% block body -%}
    <div class="block-header">
        <h2>DASHBOARD</h2>
    </div>

    <!-- Widgets -->
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-light-blue hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">group_work</i>
                </div>
                <div class="content">
                    <div class="text">GRUPOS</div>
                    <div class="number count-to" data-from="0" data-to="{{countGrupo}}" data-speed="1000" data-fresh-interval="20">{{countGrupo}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">business</i>
                </div>
                <div class="content">
                    <div class="text">EMPRESAS</div>
                    <div class="number count-to" data-from="0" data-to="{{countEmpresa}}" data-speed="1000" data-fresh-interval="20">{{countEmpresa}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-light-green hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">layers</i>
                </div>
                <div class="content">
                    <div class="text">DEPARTAMENTOS</div>
                    <div class="number count-to" data-from="0" data-to="{{countDepartamento}}" data-speed="1000" data-fresh-interval="20">{{countDepartamento}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">person_add</i>
                </div>
                <div class="content">
                    <div class="text">FUNCIONÁRIOS</div>
                    <div class="number count-to" data-from="0" data-to="{{countFuncionario}}" data-speed="1000" data-fresh-interval="20">{{countFuncionario}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-teal hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">account_box</i>
                </div>
                <div class="content">
                    <div class="text">FORNECEDORES</div>
                    <div class="number count-to" data-from="0" data-to="{{countFornecedor}}" data-speed="1000" data-fresh-interval="20">{{countFornecedor}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Widgets -->
{% endblock %}