{% extends '::base.html.twig' %}

{% block body %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>Lista de Pedidos</h2>
                    <hr />
                    <form class="row" method="POST">
                        <div class="col-sm-6">
                            <label class="form-label">De</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input value="{{de}}" name="de" type="date" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Até</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input disabled="disabled" value="{{ate}}" name="ate" type="date" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button style="width: 100%;" type="submit" class="btn btn-primary waves-effect">BUSCAR ENTRE DATAS</button>
                        </div>
                    </form>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Data Pedido</th>
                                    <th>Valor</th>
                                    <th>Descricao</th>
                                    <th>Favorecido</th>
                                    <th>Empresa</th>
                                    <th>Status</th>
                                    <th>Encaminhado</th>
                                    <th>Operação</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{% if entity.codigo %}<b>{{ entity.codigo }}</b>{% else %}{{ entity.id }}{% endif %}</td>
                                    <td>{% if entity.dataPedido %}{{ entity.dataPedido | date('d/m/Y H:i:s') }}{% endif %}</td>
                                    <td>R$ {{ entity.valor }}</td>
                                    <td>{{ entity.descricao|length > 25 ? entity.descricao|slice(0, 25) ~ '...' : entity.descricao }}</td>
                                    <td>{{ entity.fornecedor|length > 25 ? entity.fornecedor|slice(0, 25) ~ '...' : entity.fornecedor }}</td>
                                    <td>{{ entity.empresa }}</td>
                                    <td>{{ entity.status }}</td>
                                    <td><span data-toggle="tooltip" data-placement="top" title="" data-original-title="{{entity.funcionario}}">{{ entity.tipo_funcionario }}</span></td>
                                    <td>
                                        <a href="javascript:void(0);" class="btn-ver" data-id="{{ entity.id }}"><i class="material-icons" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver">search</i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="largeModalLabel">Pedido #<span id="idPedido"></span> <a class="pull-right pointer"><i onclick="window.print()" class="material-icons">print</i></a></h4>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12 no-print">
                            <div id="fotosPedido"></div>
                        </div>
                        <div class="col-sm-4">
                            <h6>Data do Pedido: <span id="dataPedido"></span></h6>
                        </div>
                        <div class="col-sm-4">
                            <h6>Status do Pagamento: <span id="statusPagamento"></span></h6>
                        </div>
                        <div class="col-sm-4">
                            <h6>Tipo do Pedido: <span id="tipoPagamento"></span></h6>
                        </div>
                        <div class="col-sm-4">
                            <h6>Valor do Pagamento: <span id="valorPagamento"></span></h6>
                        </div>
                        <div class="col-sm-4">
                            <h6>Encaminhado: <span id="encaminhadoPedido"></span></h6>
                        </div>
                        <div class="col-sm-4">
                            <h6>Empresa: <span id="empresaPedido"></span></h6>
                        </div>
                        <div class="col-sm-12">
                            <h6>Descrição: <span id="descricaoPedido"></span></h6>
                        </div>
                        <div class="col-sm-12">
                            <h6>Mensagem: <span id="mensagemPedido"></span></h6>
                        </div>
                        <div class="col-sm-12"><br></div>
                        <div class="col-sm-12">
                            <h4>Informações do favorecido</h4>
                        </div>
                        <div class="col-sm-4">
                            <h6>Nome: <span id="fornecedorNome"></span></h6>
                        </div>
                        <div class="col-sm-4 no-print">
                            <h6>CNPJ: <span id="fornecedorCnpj"></span></h6>
                        </div>
                        <div class="col-sm-4 no-print">
                            <h6>CPF: <span id="fornecedorCpf"></span></h6>
                        </div>
                        <div class="col-sm-4 no-print">
                            <h6>Telefone: <span id="fornecedorTelefone"></span></h6>
                        </div>
                        <div class="col-sm-8 no-print">
                            <h6>Endereço: <span id="fornecedorEndereco"></span></h6>
                        </div>
                        <div class="col-sm-12"><br></div>
                        <div class="col-sm-12">
                            <h4>Informações de pagamento</h4>
                            <div id="parcelasPedido"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link waves-effect btn-show-historico">Remetentes</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Fechar</button>
                </div>
                <div class="modal-footer show-historico" style="text-align: left; height: 225px; overflow: auto; display: none;">
                </div>
            </div>
        </div>
    </div>
    <button style="display: none;" type="button" class="btn btn-default waves-effect m-r-20 btn-modal" data-toggle="modal" data-target="#largeModal"></button>

{% endblock %}

{% block javascripts %}
<script>

$('input[name="de"]').change(function(){
    if(!$('input[name="de"]').val() || $('input[name="de"]').val() == '') {return false;}
    $('input[name="ate"]').val($('input[name="de"]').val());
    $('input[name="ate"]').attr('min', $('input[name="de"]').val());
    $('input[name="ate"]').removeAttr('disabled');
});

if($('input[name="ate"]').val() || $('input[name="ate"]').val() != '') {
    $('input[name="ate"]').attr('min', $('input[name="de"]').val());
    $('input[name="ate"]').removeAttr('disabled');
}

$('[data-toggle="tooltip"]').tooltip({
    container: 'body'
});

function formatDateStamp(timestamp) {
    const date = new Date(timestamp * 1000);
    const hours = date.getUTCHours();
    const minutes = "0" + date.getUTCMinutes();
    const seconds = "0" + date.getUTCSeconds();
    const formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
    const day = (date.getDate() < 10) ? '0'+date.getDate() : date.getDate();
    const month = ((date.getMonth() + 1) < 10) ? ('0'+(date.getMonth() + 1)) : (date.getMonth() + 1);
    const year = date.getFullYear();
    const formattedDate = day + '/' + month + '/' + year;
    return formattedDate + ' - ' + formattedTime;
}

function formatDate(newdate) {
    const date = new Date(newdate);
    const hours = date.getHours();
    const minutes = "0" + date.getMinutes();
    const seconds = "0" + date.getSeconds();
    const formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
    const day = (date.getDate() < 10) ? '0'+date.getDate() : date.getDate();
    const month = ((date.getMonth() + 1) < 10) ? ('0'+(date.getMonth() + 1)) : (date.getMonth() + 1);
    const year = date.getFullYear();
    const formattedDate = day + '/' + month + '/' + year;
    return formattedDate + ' - ' + formattedTime;
}
function formataDinheiro(n) {
    return "R$ " + Number(n).toFixed(2).replace('.', ',').replace(/(\d)(?=(\d{3})+\,)/g, "$1.");
}

$('.btn-show-historico').click(function(e) {
    if($('.show-historico').is(':visible')){
        $('.show-historico').hide();
    } else {
        $('.show-historico').show();
    }
});

let ajaxForm;
$('.btn-ver').click(function(e) {
    e.preventDefault();
    let id = $(this).attr('data-id');
    if(!ajaxForm) {
        swal({
            title: "Atenção",
            text: "Deseja realmente ver?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Sim!",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
            allowClickOutside: false
        }, function(isConfirm) {
            if (isConfirm) {
                ajaxForm = $.ajax({
                    type: "POST",
                    url: '/admin/ver/',
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    success: function(data) {
                        console.log('success', data);
                        ajaxForm = null;
                        anexos = data.anexos;
                        historico = data.historico;
                        pagamentos = data.pagamentos;
                        data = data.pedido[0];
                        swal.close();
                        $('#idPedido').html(data.id);
                        $('#dataPedido').html(formatDate(data.data_pedido));
                        $('#statusPagamento').html(data.status);
                        $('#tipoPagamento').html('<span>'+data.tipo+'</span>');
                        $('#valorPagamento').html("R$ "+data.valor);
                        $('#encaminhadoPedido').html('<span data-toggle="tooltip" data-placement="top" title="" data-original-title="'+data.para+'">'+data.tipo_para+'</span>');
                        $('#empresaPedido').html(data.empresa);
                        $('#descricaoPedido').html(data.descricao);
                        $('#fornecedorNome').html(data.fornecedorNome == '' ? 'Sem Nome' : data.fornecedorNome);
                        $('#fornecedorCnpj').html(data.fornecedorCnpj == '' ? 'Sem CNPJ' : data.fornecedorCnpj);
                        $('#fornecedorCpf').html(data.fornecedorCpf == '' ? 'Sem CPF' : data.fornecedorCpf);
                        $('#fornecedorTelefone').html(data.fornecedorTelefone == '' ? 'Sem Telefone' : data.fornecedorTelefone);
                        $('#fornecedorEndereco').html(data.fornecedorEndereco == '' ? 'Sem Endereço' : data.fornecedorEndereco);

                        $('#fotosPedido').html('');
                        for(var i = 0; i < anexos.length; i++) {
                            $('#fotosPedido').append(`<a class="pointer" href="/uploads/`+anexos[i].caminho+`" target="_blank"><i class="material-icons" style="font-size: 4rem;">image</i></a>`);
                        }
                        
                        $('#mensagemPedido').html(data.mensagem ? data.mensagem : '-');

                        $("#parcelasPedido").html("");

                        let pagamentosHTML = "";
                        for(let i = 0; i < pagamentos.length; i = i + 1){
                            pagamentosHTML += `<div class="pagamento row">
                                <div class="col-md-6"><b>Tipo:</b> ` + pagamentos[i].tipo + `</div>
                                <div class="col-md-6"><b>Valor:</b> R$ ` + pagamentos[i].valor + `</div>
                                <div class="col-md-6"><b>Num parcelas:</b> ` + pagamentos[i].parcelas_total + `x</div>
                                <div class="col-md-6"><b>Parcelas pagas:</b> ` + pagamentos[i].parcelas_pagas + `x</div>`;

                            switch(pagamentos[i].tipo_id){
                                case '2':
                                    pagamentosHTML += `<div class="col-sm-12"><br></div>
                                        <div class="col-md-12"><b>Detalhes do cartão</b></div>
                                        <div class="col-sm-12"><br></div>
                                        <div class="col-md-6"><b>Nome no Cartão:</b> ` + pagamentos[i].titulo + `</div>
                                        <div class="col-md-6"><b>Número do Cartão:</b> ` + pagamentos[i].numero + `</div>
                                        <div class="col-md-6"><b>Bandeira:</b> ` + pagamentos[i].bandeira + `</div>`;
                                break;
                                case '6':
                                    pagamentosHTML += `<div class="col-sm-12"><br></div>
                                    <div class="col-md-12"><b>Detalhes da conta</b></div>
                                    <div class="col-sm-12"><br></div>
                                    <div class="col-md-6"><b>Banco:</b> ` + pagamentos[i].banco + `</div>
                                    <div class="col-md-6"><b>Agência:</b> ` + pagamentos[i].agencia + `</div>
                                    <div class="col-md-6"><b>Conta:</b> ` + pagamentos[i].conta + `</div>
                                    <div class="col-md-6"><b>Tipo:</b> ` + pagamentos[i].conta_tipo + `</div>
                                    <div class="col-md-6"><b>CPF:</b> ` + (pagamentos[i].cpf ? pagamentos[i].cpf : `-`) + `</div>
                                    <div class="col-md-6"><b>CNPJ:</b> ` + (pagamentos[i].cnpj ? pagamentos[i].cnpj : `-`) + `</div>`;
                            }

                            pagamentosHTML += `</div>`;

                            pagamentosHTML += `<div class="table-responsive">
                                                    <br><br>
                                                    <table class="table table-bordered table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Num Parcela</th>
                                                                <th>Valor</th>
                                                                <th>Valor pago</th>
                                                                <th>Valor pendente</th>
                                                                <th>Acréscimo</th>
                                                                <th>Desconto</th>
                                                                <th>Vencimento</th>
                                                                <th>Status</th>
                                                            </tr>
                                                        </thead>`;

                            for(let j = 0; j < pagamentos[i].parcelas.length; j = j + 1){
                                let parcela = pagamentos[i].parcelas[j];

                                pagamentosHTML += `<tr>
                                                        <td>` + parcela.num_parcela + `</td>
                                                        <td>R$ ` + parcela.valor + `</td>
                                                        <td>` + (parcela.valor_pago ? `R$ ` + parcela.valor_pago : `-`) + `</td>
                                                        <td>` + (parcela.valor_pendente ? `R$ ` + parcela.valor_pendente : `-`) + `</td>
                                                        <td>` + (parcela.valor_acrecimo ? `R$ ` + parcela.valor_acrecimo : `-`) + `</td>
                                                        <td>` + (parcela.valor_desconto ? `R$ ` + parcela.valor_desconto : `-`) + `</td>
                                                        <td>` + parcela.data_vencimento + `</td>
                                                        <td>` + parcela.status + `</td>
                                                    </tr>`;
                            }

                            pagamentosHTML += `</table></div>`;
                        }

                        $("#parcelasPedido").html(pagamentosHTML);

                        $('[data-toggle="tooltip"]').tooltip({container: 'body'});
                        $('.show-historico').html('');
                        for(let i = 0; i < historico.length; i++) {
                            let mensagem = '';
                            let oddClass = '';
                            if ( historico[i].idmensagem ) { mensagem = historico[i].idmensagem.mensagem; }
                            if ( i % 2 === 0 ) { oddClass = 'oddClass' }
                            $('.show-historico').append(`
                                <div class="row clearfix">
                                    <div class="col-sm-12 `+oddClass+`">
                                        <h6 style="text-align: right;">`+formatDateStamp(historico[i].dataPassagem.timestamp)+`</h6>
                                        <h6>De: `+historico[i].idde.nome+` - Para: `+historico[i].idpara.nome+`</h6>
                                        <h6>`+historico[i].tipoHistorico.nome+`</h6>
                                        <p>`+mensagem+`</p>
                                    </div>
                                </div>
                            `);
                        }
                        $('.btn-modal').trigger('click');
                        // MODAL
                    },
                    error: function(data) {
                        ajaxForm = null;
                        console.error('erro', data);
                        if(data.status == 404){
                            swal({
                                title: "Erro",
                                text: 'Entre em contato com o suporte.',
                                type: "error",
                                allowClickOutside: false,
                                allowEscapeKey: false
                            });
                        } else {
                            swal({
                                title: "Erro",
                                text: data.responseJSON.description,
                                type: "warning",
                                allowClickOutside: false,
                                allowEscapeKey: false
                            });
                        }
                    }
                });
            }
        });
    }
});
</script>
{% endblock %}