{% extends '::base.html.twig' %}

{% block body %}
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Lista de Funcionarios
                    </h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome</th>
                                    <th>E-Mail</th>
                                    <th>Limite</th>
                                    <th>Departamento</th>
                                    <th>Telefone</th>
                                    <th>Celular</th>
                                    <th>Tipo</th>
                                    <th>Empresa</th>
                                    <th>Editar</th>
                                    <th>Excluir</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.id }}</td>
                                    <td>{{ entity.nome }}</td>
                                    <td>{{ entity.email }}</td>
                                    <td>{{ entity.limiteAprovacao }}</td>
                                    <td>{{ entity.nomeDepartamento }}</td>
                                    <td>{{ entity.telefone }}</td>
                                    <td>{{ entity.celular }}</td>
                                    <td>{{ entity.tipo }}</td>
                                    <td><a href="javascript:void(0);" class="btn-empresas" data-id="{{ entity.id }}"><i class="material-icons">search</i></a></td>
                                    <td><a href="{{ path('funcionario_edit', { 'id': entity.id }) }}"><i class="material-icons">edit</i></a></td>
                                    <td><a href="javascript:void(0);" class="btn-excluir" data-id="{{ entity.id }}"><i class="material-icons">close</i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="md-modal md-effect-17" id="modal-show">
        <div class="md-content">
            <h3 class="md-empresa-header">Empresas</h3>
            <div>
                <div class="md-empresa-body"></div>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <form id="form_validation" method="POST" novalidate="novalidate">
                    <div class="row clearfix">
                        <div class="col-sm-11">
                            <select class="form-control show-tick" name="empresa" id="empresa" required aria-required="true">
                                <option value="">-- Selecione uma empresa --</option>
                                {% for empresa in empresas %}
                                    <option value="{{ empresa.id }}">{{ empresa.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <i class="material-icons btn-addemp" data-funcid="0" style="cursor: pointer;">add</i>
                        </div>
                    </div>
                </form>
                <br />
                <button class="md-close">Fechar</button>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>
{% endblock %}

{% block javascripts %}
<script>
let ajaxForm;
$('.btn-addemp').click(function(e) {
    e.preventDefault();
    let idFuncionario = $(this).attr('data-funcid');
    let idEmpresa = $('#empresa').val();

    if(!idFuncionario) return false;
    if(!idEmpresa) return false;

    if(!ajaxForm) {
        swal({
            title: "Atenção",
            text: "Deseja adicionar essa empresa?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Sim!",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
            allowClickOutside: false
        }, function(isConfirm) {
            if (isConfirm) {
                ajaxForm = $.ajax({
                    type: "POST",
                    url: '/admin/add/empresa/',
                    data: {
                        idEmpresa: idEmpresa,
                        idFuncionario: idFuncionario
                    },
                    dataType: 'json',
                    success: function(data) {
                        ajaxForm = null;
                        console.log('success', data.description);
                        $('#modal-show').removeClass("md-show");
                        swal({
                            title: "Sucesso",
                            text: data.description,
                            type: "success",
                            allowClickOutside: false,
                            allowEscapeKey: false
                        });
                    },
                    error: function(data) {
                        ajaxForm = null;
                        console.error('erro', data);
                        if(data.status == 404){
                            swal({
                                title: "Erro",
                                text: 'Entre em contato com o suporte.',
                                type: "error",
                                allowClickOutside: false,
                                allowEscapeKey: false
                            });
                        } else {
                            swal({
                                title: "Erro",
                                text: data.responseJSON.description,
                                type: "warning",
                                allowClickOutside: false,
                                allowEscapeKey: false
                            });
                        }
                    }
                });
            }
        });
    }
});

function triggerRmvBtn() {
    $('.btn-rmvemp').click(function(e) {
        e.preventDefault();
        let idFuncionario = $(this).attr('data-funcid');
        let idEmpresa = $('#empresa').val();

        if(!idFuncionario) return false;
        if(!idEmpresa) return false;

        if(!ajaxForm) {
            swal({
                title: "Atenção",
                text: "Deseja adicionar essa empresa?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Sim!",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                showLoaderOnConfirm: true,
                allowClickOutside: false
            }, function(isConfirm) {
                if (isConfirm) {
                    ajaxForm = $.ajax({
                        type: "POST",
                        url: '/admin/add/empresa/',
                        data: {
                            idEmpresa: idEmpresa,
                            idFuncionario: idFuncionario
                        },
                        dataType: 'json',
                        success: function(data) {
                            ajaxForm = null;
                            console.log('success', data.description);
                            $('#modal-show').removeClass("md-show");
                            swal({
                                title: "Sucesso",
                                text: data.description,
                                type: "success",
                                allowClickOutside: false,
                                allowEscapeKey: false
                            });
                        },
                        error: function(data) {
                            ajaxForm = null;
                            console.error('erro', data);
                            if(data.status == 404){
                                swal({
                                    title: "Erro",
                                    text: 'Entre em contato com o suporte.',
                                    type: "error",
                                    allowClickOutside: false,
                                    allowEscapeKey: false
                                });
                            } else {
                                swal({
                                    title: "Erro",
                                    text: data.responseJSON.description,
                                    type: "warning",
                                    allowClickOutside: false,
                                    allowEscapeKey: false
                                });
                            }
                        }
                    });
                }
            });
        }
    });
}

$('.md-close').click(function(e) {$('#modal-show').removeClass("md-show");});
$('.btn-empresas').click(function(e) {
    e.preventDefault();
    let id = $(this).attr('data-id');
    if(!ajaxForm) {
        swal({
            title: "Atenção",
            text: "Deseja ver as empresas?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Sim!",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
            allowClickOutside: false
        }, function(isConfirm) {
            if (isConfirm) {
                ajaxForm = $.ajax({
                    type: "POST",
                    url: '/admin/find/empresas/',
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    success: function(data) {
                        ajaxForm = null;
                        console.log('success', data.description);
                        let string = '';
                        for(emp of data.description) {
                            string += "<div class='col-sm-11'>"+emp.idempresa.nome+"</div><div class='col-sm-1'><i class='material-icons btn-rmvemp' data-funcid='0' style='cursor: pointer;'>remove</i></div>";
                        }
                        $('.md-empresa-body').html(string);
                        $('#modal-show').addClass("md-show");
                        triggerRmvBtn();
                        swal.close();
                        $('.btn-addemp').attr('data-funcid', data.description[0].idfuncionario.id);
                    },
                    error: function(data) {
                        ajaxForm = null;
                        console.error('erro', data);
                        if(data.status == 404){
                            swal({
                                title: "Erro",
                                text: 'Entre em contato com o suporte.',
                                type: "error",
                                allowClickOutside: false,
                                allowEscapeKey: false
                            });
                        } else {
                            swal({
                                title: "Erro",
                                text: data.responseJSON.description,
                                type: "warning",
                                allowClickOutside: false,
                                allowEscapeKey: false
                            });
                        }
                    }
                });
            }
        });
    }
});

$('.btn-excluir').click(function(e) {
    e.preventDefault();
    let id = $(this).attr('data-id');
    if(!ajaxForm) {
        swal({
            title: "Atenção",
            text: "Deseja realmente deletar?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Sim!",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
            allowClickOutside: false
        }, function(isConfirm) {
            if (isConfirm) {
                ajaxForm = $.ajax({
                    type: "POST",
                    url: '/admin/excluir/funcionario/',
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    success: function(data) {
                        ajaxForm = null;
                        console.log('success', data);
                        swal({
                            title: "Sucesso",
                            text: data.description,
                            type: "success",
                            allowClickOutside: false,
                            allowEscapeKey: false
                        }, function(){
                            window.location = '';
                        });
                    },
                    error: function(data) {
                        ajaxForm = null;
                        console.error('erro', data);
                        if(data.status == 404){
                            swal({
                                title: "Erro",
                                text: 'Entre em contato com o suporte.',
                                type: "error",
                                allowClickOutside: false,
                                allowEscapeKey: false
                            });
                        } else {
                            swal({
                                title: "Erro",
                                text: data.responseJSON.description,
                                type: "warning",
                                allowClickOutside: false,
                                allowEscapeKey: false
                            });
                        }
                    }
                });
            }
        });
    }
});
</script>
{% endblock %}