{% extends '::base.html.twig' %}

{% block body %}
    <div class="block-header">
        <h2>Departamento list</h2>
    </div>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Ativo</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('departamento_show', { 'id': entity.id }) }}">{{ entity.nome }}</a></td>
                <td>{{ entity.descricao }}</td>
                <td>{{ entity.ativo }}</td>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('departamento_edit', { 'id': entity.id }) }}">edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}