{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Fornecedor list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cnpj</th>
                <th>Cpf</th>
                <th>Telefone</th>
                <th>Endereco</th>
                <th>Ativo</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('fornecedor_show', { 'id': entity.id }) }}">{{ entity.nome }}</a></td>
                <td>{{ entity.cnpj }}</td>
                <td>{{ entity.cpf }}</td>
                <td>{{ entity.telefone }}</td>
                <td>{{ entity.endereco }}</td>
                <td>{{ entity.ativo }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('fornecedor_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('fornecedor_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('fornecedor_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
