{% extends '::base.html.twig' %}

{% block body %}
    <form id="form_validation" method="POST" novalidate="novalidate" enctype="multipart/form-data">
        <div class="card">
            <div class="header">
                {# <input type="file" style="display: none;" id="upload" accept="image/jpg, image/jpeg, image/png, image/bmp" /> #}
                <input type="file" style="display: none;" id="upload" />
                <label style="float: right;" for="upload" class="btn btn-primary waves-effect">UPLOAD</label>
                <h2>Fotos Pedido</h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-sm-12" style="margin-bottom: 0;">
                        <div class="row uploads"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <a style="float: right;" href="javascript:void(0);" id="addPg">
                    Adicionar Pagamento
                </a>
                <h2>Cadastrar Pedido</h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <select class="form-control show-tick select-empresa" name="empresa" id="empresa" required aria-required="true">
                            <option value="">-- Selecione a empresa --</option>
                            {% for e in empresa %}
                                <option value="{{ e.id }}">{{ e.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <select class="form-control show-tick select-para" name="para" id="para" required aria-required="true">
                            <option value="">-- Selecione um Chefe --</option>
                            {% for p in para %}
                                <option value="{{ p.id }}">{{ p.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <select class="form-control show-tick select-tipo-pedido" name="tipopedido" id="tipopedido" required aria-required="true">
                            <option value="">-- Selecione um tipo de pedido --</option>
                            {% for tp in tipopedido %}
                                <option value="{{ tp.id }}">{{ tp.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-10">
                    <label class="form-label">Favorecido</label>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" name="cnpj_forn" class="form-control cnpj_fornecedor_input" aria-required="true">
                        </div>
                    </div>
                </div>
                <div class="col-sm-2" style="margin: 0 !important; padding: 0 !important;">
                    <button style="width: 100%; margin-top: 30px;" class="btn btn-primary waves-effect btn-search">BUSCAR</button>
                </div>
                <div class="col-sm-12">
                    <div class="list-fornecedores" style="display: none;"></div>
                </div>
                <div class="col-sm-6">
                    <label class="form-label">Valor</label>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control absoluto-valor" name="valor" required aria-required="true">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="form-label">Descrição</label>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <textarea rows="5" style="resize: none;" type="text" class="form-control" name="descricao" required aria-required="true"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div style="text-align: right;">
                            <button class="btn btn-primary waves-effect" type="submit">CRIAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="div-pagamentos" class="row clearfix"></div>
    </form>
{% endblock %}

{% block javascripts %}
<script>
var fotos = [];
var uploads = 1;
var formData = new FormData();
$(document).ready(function() {
    function readURL(input, myThis, index) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var img = e.target.result;
                myThis.css("background-image","url("+ img +")");
                myThis.click(function() {
                    var image = new Image();
                    image.src = img;
                    var w = window.open("");
                    w.document.write(image.outerHTML);
                });
            }
            reader.readAsDataURL(input.files[0]);
            fotos.push({id: index, file: input.files[0]});
            console.log('Fotos', fotos);
        }
    }
    $('input[name="valor"]').mask('000.000.000.000.000,00', {reverse: true});
    $('#upload').click(function(e) {
        if(fotos.length >= 4) {
            e.preventDefault();
            swal('Informação', 'Você só pode colocar até 4 fotos por Pedido.', 'info');
            return false;
        }
    });
    $('#upload').change(function(e) {
        if($(this).get(0).files.length > 0) {
            let clone = $( this ).clone();
            clone.removeAttr('id');
            clone.addClass('foto_upload');
            $('.uploads').append(`<div class="col-sm-3 upload-`+uploads+`" style="margin-bottom: 5px;">
                <div class="img-`+uploads+`" style="cursor: pointer; border: 1px solid #333333; background-position: center center; background-size: cover; background-repeat: no-repeat; background-color: rgba(50,50,50,1); position: relative; height: 300px;">
                    <button type="button" class="btn-remove-`+uploads+`" data-remove="`+uploads+`" style="z-index: 1; color: white; position: absolute; width: 100%; bottom: 0; left: 0; background-color: rgba(0,0,0,0.5);">APAGAR</button>
                </div>
            </div>`);
            $('.upload-'+uploads).append(clone);
            readURL(this, $('.img-'+uploads), uploads);
            $('.btn-remove-'+uploads).click(function(e) {
                let id = $(this).data('remove');
                for(var i = 0; i < fotos.length; i++) {
                    if(fotos[i].id == id) {
                        fotos.splice(i, 1);
                    }
                }
                $('.upload-'+id).remove();
                e.preventDefault();
                e.stopPropagation();
            });
            uploads++;
        }
    });
});
let ajaxForm;
let idPagamento = 0;
function addEventPagamentos(id) {
    $('.btn-close-pg').click(function(e){
        e.preventDefault();
        $('[data-pagamento="'+id+'"]').remove();
    });
    $('.tipopagamento-'+id).change(function(){
        switch($(this).val()){
            case '2':
                $('.transferencia-'+id).hide();
                $('.cartao-'+id).show();
            break;
            case '6':
                $('.cartao-'+id).hide();
                $('.transferencia-'+id).show();
            break;
            default:
                $('.cartao-'+id).hide();
                $('.transferencia-'+id).hide();
            break;
        }
    });
    $('.select-parcelas-'+id).change(function(e){
        $('.pagamento-icon-'+id).hide();
        $('[data-pagamento="'+id+'"]').attr('data-ok', 'no');
        $('.btn-calc-'+id).html('CALCULAR');
    });
    $('.valor-integral-'+id).keyup(function(e){
        $('.pagamento-icon-'+id).hide();
        $('[data-pagamento="'+id+'"]').attr('data-ok', 'no');
        $('.btn-calc-'+id).html('CALCULAR');
    });
    $('.intervalo-parcelas-'+id).keyup(function(e){
        $('.pagamento-icon-'+id).hide();
        $('[data-pagamento="'+id+'"]').attr('data-ok', 'no');
        $('.btn-calc-'+id).html('CALCULAR');
    });
    $('.parcela1-'+id).keyup(function(e){
        $('.pagamento-icon-'+id).hide();
        $('[data-pagamento="'+id+'"]').attr('data-ok', 'no');
        $('.btn-calc-'+id).html('CALCULAR');
    });
    $('.vencimento1-'+id).change(function(e){
        $('.pagamento-icon-'+id).hide();
        $('[data-pagamento="'+id+'"]').attr('data-ok', 'no');
        $('.btn-calc-'+id).html('CALCULAR');
    });
    $('input[name="valor_integral"]').mask('000.000.000.000.000,00', {reverse: true});
    $('.parcela1-'+id).mask('000.000.000.000.000,00', {reverse: true});
    
    $('.transferencia-'+id+' input[name="cpf"]').mask('000.000.000-00');
    $('.transferencia-'+id+' input[name="cnpj"]').mask('00.000.000/0000-00');

    $('.btn-calc-'+id).click(function(e){
        e.preventDefault();

        if($('.tipopagamento-'+id).val() == 0 || $('.tipopagamento-'+id).val() == '') {
            swal('Atenção','Escolha o Tipo de Pagamento!', 'warning');
            $('.tipopagamento-'+id).focus();
            return false;
        }
        if($('.select-parcelas-'+id).val() == 0 || $('.select-parcelas-'+id).val() == '') {
            swal('Atenção','Escolha a Quantidade de parcelas!', 'warning');
            $('.select-parcelas-'+id).focus();
            return false;
        }
        if($('.valor-integral-'+id).val() == 0 || $('.valor-integral-'+id).val() == '') {
            swal('Atenção','Preencha o valor integral!', 'warning');
            $('.valor-integral-'+id).focus();
            return false;
        }
        if($('.parcela1-'+id).val() == 0 || $('.parcela1-'+id).val() == '') {
            swal('Atenção','Preencha o valor da primeira parcela!', 'warning');
            $('.parcela1-'+id).focus();
            return false;
        }
        if($('.vencimento1-'+id).val() == 0 || $('.vencimento1-'+id).val() == '') {
            swal('Atenção','Preencha a data de vencimento da primeira parcela!', 'warning');
            $('.vencimento1-'+id).focus();
            return false;
        }
        let parcela1 = parseFloat($('.parcela1-'+id).val().replace('.','').replace(',','.'));
        let valor_integral = parseFloat($('.valor-integral-'+id).val().replace('.','').replace(',','.'));

        if(parcela1 > valor_integral) {
            swal('Atenção', 'O valor da parcela não pode ser maior que o valor integral do pagamento', 'warning');
            return false;
        }
        if($('.select-parcelas-'+id).val() == 1) {

            if((valor_integral - parcela1) == 0) {
                $('.pagamento-icon-'+id).show();
                $('[data-pagamento="'+id+'"]').attr('data-ok', 'yes');
                $('.btn-calc-'+id).html('EDITAR');
                return false;
            } else {
                swal('Atenção', 'O valor da parcela não corresponde ao valor integral do pagamento', 'warning');
                return false;
            }
        } else {

            let total_parcelas = $('.select-parcelas-'+id).val();
            let total_valor = parseFloat((valor_integral - parcela1) / (total_parcelas - 1)).toFixed(2);
            let difencaValor = (valor_integral - parcela1) - (total_valor * (total_parcelas - 1));
            let date = $('.vencimento1-'+id).val();

            if((valor_integral - parcela1) == 0) {
                swal('Atenção', 'Não é possível parcelar o valor, com a primeira parcela igual ao valor integral', 'warning');
                return false;
            }

            $('#modal-show-'+id).addClass("md-show");
            if($('[data-pagamento="'+id+'"]').attr('data-ok') == 'yes') return false;

            $('.inputs-parcela-'+id).html('');
            for(i = 2; i <= total_parcelas; i++) {
                if(i == total_parcelas){
                    total_valor = (parseFloat(total_valor) + difencaValor).toFixed(2);
                }

                $('.inputs-parcela-'+id).append(`
                    <div class="col-sm-6">
                        <label class="form-label">`+i+` Parcela</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" value="`+total_valor+`" class="form-control parcela`+i+`-`+id+`" name="parcela`+i+`-`+id+`" required aria-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Vencimento</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input type="date" value="`+formatDate(addDays(date))+`" class="form-control vencimento`+i+`-`+id+`" name="vencimento`+i+`-`+id+`" required aria-required="true">
                            </div>
                        </div>
                    </div>
                `);
                date = $('.vencimento'+i+'-'+id).val();
                $('.parcela'+i+'-'+id).mask('000.000.000.000.000,00', {reverse: true});
            }
            return false;
        }
    });
    $('.md-close-'+id).click(function(e) {
        e.preventDefault();
        // let valor_integral = $('.valor-integral-'+id).val();
        // let total_parcelas = $('.select-parcelas-'+id).val();
        // let parcela1 = $('.parcela1-'+id).val();
        // let valor_total = parseFloat(parcela1);
        // for(i = 2; i <= total_parcelas; i++) {
        //     valor_total += parseFloat($('.parcela'+i+'-'+id).val());
        // }
        // valor_total = parseFloat(valor_total);
        // valor_integral = parseFloat(valor_integral);

        valor_integral = parseFloat($('.valor-integral-'+id).val().replace('.','').replace(',','.'));
        total_parcelas = $('.select-parcelas-'+id).val();
        valor_total = parseFloat($('.parcela1-'+id).val().replace('.','').replace(',','.'));
        for(i = 2; i <= total_parcelas; i++) {
            valor_total += parseFloat($('.parcela'+i+'-'+id).val().replace('.','').replace(',','.'));
        }

        valor_total = valor_total.toFixed(2);

        if(valor_total != valor_integral) {
            swal('Atenção','Valor da soma das parcelas não corresponde ao valor integral do pagamento\n\nValor integral: '+valor_integral+'\n'+'Valor Total: '+valor_total, 'warning');
            return false;
        } else {
            swal({
                title: "Atenção",
                text: "Pagamento calculado com sucesso, deseja fechar a janela de ajuste?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Sim",
                cancelButtonText: "Não",
            },
            function(isConfirm) {
                if (isConfirm) {
                    $('.pagamento-icon-'+id).show();
                    $('[data-pagamento="'+id+'"]').attr('data-ok', 'yes');
                    $('.btn-calc-'+id).html('EDITAR');
                    $('#modal-show-'+id).removeClass("md-show");
                }
            });
        }
    });
}

function formatDate(nowDate) {
    let year = nowDate.getFullYear();
    let month = ((nowDate.getMonth()+1) < 10) ? '0'+(nowDate.getMonth()+1) : (nowDate.getMonth()+1);
    let date = (nowDate.getDate() < 10) ? '0'+nowDate.getDate() : nowDate.getDate();
    nowDate = year+'-'+month+'-'+date;
    return nowDate;
}
function addDays(date) {
    var result = new Date(date);
    result.setMonth(result.getMonth() + 1, result.getDate() + 1);
    return result;
}
{# 
$('.select-tipo-pedido').change(function(e){
    if($(this).val() == 4) {
        $('.cnpj_fornecedor').show();
    }else{
        $('.cnpj_fornecedor').hide();
    }
}); #}
function returnCnpj(cnpj) {return cnpj == "" ? 'Sem CNPJ' : cnpj;}
function returnCpf(cpf) {return cpf == "" ? 'Sem CPF' : cpf;}
$('.cnpj_fornecedor_input').keyup(function(e){
    $('.list-fornecedores').html('');
});
$('.btn-search').click(function(e){
    e.preventDefault();
    // if($('.cnpj_fornecedor_input').val().length <= 2) return false;
    $('.list-fornecedores').html('');
    $.ajax({
        type: "POST",
        url: '/funcionario/pedido/get/fornecedores',
        data: {
            cnpj_fornecedor_input: $('.cnpj_fornecedor_input').val()
        },
        dataType: 'json',
        success: function(data) {
            console.log('success', data);
            let forns = "";
            for(i = 0; i < data.description.length; i++){
                forns += `<option value="`+data.description[i].id+`">`+data.description[i].nome+` - `+returnCnpj(data.description[i].cnpj)+` - `+returnCpf(data.description[i].cpf)+`</option>`;
            }
            $('.list-fornecedores').html(`
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <select class="form-control show-tick" name="forn" id="forn" required aria-required="true">
                            <option value="" selected>Escolha um Fornecedor</option>
                            `+forns+`
                        </select>
                    </div>
                </div>
            `);
            $('.list-fornecedores').show();
        },
        error: function(data) {
            console.error('erro', data);
            $('.list-fornecedores').hide();
        }
    });
});
$('#addPg').click(function(e){
    e.preventDefault();
    $('#div-pagamentos').append(`
        <div class="card pagamento col-sm-6" data-pagamento="`+idPagamento+`" data-ok="no">
            <div class="header">
                <a style="float: right;" href="javascript:void(0);" class="btn-close-pg">
                    <i class="material-icons">close</i>
                </a>
                <h2>Pagamento&nbsp;<i class="material-icons pagamento-icon-`+idPagamento+`" style="display: none; color: green;">check</i></h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <select class="form-control show-tick tipopagamento-`+idPagamento+`" name="tipopagamento" id="tipopagamento" required aria-required="true">
                            <option value="">-- Selecione um tipo de pagamento --</option>
                            {% for tp in tipopagamento %}
                                <option value="{{ tp.id }}">{{ tp.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="transferencia-`+idPagamento+`" style='display: none;'>
                        <div class="col-sm-6">
                            <label class="form-label">Banco</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="banco" required aria-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">Agência</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="agencia" required aria-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="form-label">Conta</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="conta" required aria-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <select class="form-control show-tick select-conta-tipo-`+idPagamento+`" name="tipo" id="conta-tipo" required aria-required="true">
                                <option value="">-- Selecione o tipo --</option>
                                {% for c in contaTipo %}
                                    <option value="{{c.id}}">{{c.nome}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">CPF</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="cpf">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label">CNPJ</label>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="cnpj">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cartao-`+idPagamento+`" style='display: none;'>
                        <div class="col-sm-12">
                            <select class="form-control show-tick select-cartao-`+idPagamento+`" name="cartao" id="cartao" required aria-required="true">
                                <option value="">-- Selecione o cartão --</option>
                                {% for c in cartao %}
                                    <option value="{{c.id}}">{{c.numero}} - {{c.titulo}} | {{c.bandeira}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <select class="form-control show-tick select-parcelas-`+idPagamento+`" name="parcelas" id="parcelas" required aria-required="true">
                            <option value="">-- Selecione as parcelas --</option>
                            {% for i in 1..120 %}
                                <option value="{{i}}">{{i}}x</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label">Valor Integral</label>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input value="" type="text" class="valor-integral-`+idPagamento+` form-control" name="valor_integral" required aria-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">1 Parcela</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input value="" type="text" class="form-control parcela1-`+idPagamento+`" name="parcela" required aria-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Vencimento</label>
                        <div class="form-group">
                            <div class="form-line">
                                <input value="`+formatDate(new Date())+`" type="date" class="form-control vencimento1-`+idPagamento+`" name="vencimento" required aria-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button style="width: 100%;" class="btn btn-primary waves-effect btn-calc-`+idPagamento+`" data-calc="`+idPagamento+`" type="submit">CALCULAR</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-modal md-effect-17" id="modal-show-`+idPagamento+`">
            <div class="md-content">
                <h3 class="md-empresa-header">Ajuste de pagamento</h3>
                <br/>
                <div class="row clearfix inputs-parcela-`+idPagamento+`" style="overflow: auto; height: 300px;"></div>
                <br/>
                <button class="md-close-`+idPagamento+`" data-close="modal-show-`+idPagamento+`">Salvar</button>
            </div>
        </div>
    `);
    addEventPagamentos(idPagamento);
    idPagamento++;
    {# swal('Atenção', 'Forma de pagamento adicionada!', 'warning'); #}
});
$('#form_validation').submit(function(e) {
    e.preventDefault();
    console.log($(this).valid());
    let valid = $(this).valid();
    if(valid != true) { swal('Atenção', 'Existem campos incompletos!', 'warning'); return false;}

    if($('[data-pagamento]').length == 0) { swal('Atenção', 'É necessário ter uma forma de pagamento', 'warning'); return false; }
    let myArray;
    let canPass = true;
    let absoluto_valor = $('.absoluto-valor').val();
    let valor_absoluto = 0;
    $('[data-pagamento]').each(function(){
        if($(this).attr('data-ok') == "no") {
            canPass = false;
        } else if($(this).attr('data-ok') == "yes") {
            let idDP = $(this).attr('data-pagamento');
            valor_absoluto += parseFloat($('.valor-integral-'+idDP).val());
        }
    });
    if(!canPass) { swal('Atenção', 'Todos os pagamentos precisam estar OK', 'warning'); return false; }

    valor_absoluto = parseFloat(valor_absoluto);
    absoluto_valor = parseFloat(absoluto_valor);

    if(valor_absoluto != absoluto_valor){
        swal('Atenção', 'Todos os pagamentos precisam ter a soma igual ao Valor do Pedido', 'warning');
        return false;
    }

    if(!ajaxForm) {
        swal({
            title: "Atenção",
            text: "Deseja realmente cadastrar?",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "Sim!",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
            allowClickOutside: false
        }, function(isConfirm) {
            if (isConfirm) {
                let pagamentos = [];
                $('[data-pagamento]').each(function(){
                    if($(this).attr('data-ok') == "yes"){
                        let idDP = $(this).attr('data-pagamento');
                        let valor_integral = $('.valor-integral-'+idDP).val();
                        let tipopagamento = parseInt($('.tipopagamento-'+idDP).val());
                        let parcelas = [];
                        
                        let cartao;
                        let conta = {};

                        switch(tipopagamento){
                            case 2:
                                cartao = $('.select-cartao-'+idDP).val();
                            break;
                            case 6:
                                conta = {
                                    banco: $('.transferencia-'+idDP+' input[name="banco"]').val(),
                                    agencia: $('.transferencia-'+idDP+' input[name="agencia"]').val(),
                                    conta: $('.transferencia-'+idDP+' input[name="conta"]').val(),
                                    tipo: $('.select-conta-tipo-'+idDP).val(),
                                    cpf: $('.transferencia-'+idDP+' input[name="cpf"]').val(),
                                    cnpj: $('.transferencia-'+idDP+' input[name="cnpj"]').val(),
                                }
                        }

                        for(let i = 1; i <= parseInt($('.select-parcelas-'+idDP).val()); i++) {
                            let parcela = {
                                valor: $('.parcela'+i+'-'+idDP).val(),
                                vencimento: $('.vencimento'+i+'-'+idDP).val()
                            }
                            parcelas.push(parcela);
                        }
                        let pagamento = {
                            'tipopagamento': tipopagamento,
                            'parcelas': parcelas,
                            'valor_integral': valor_integral,
                            'cartao': cartao,
                            'conta': conta,
                        };
                        pagamentos.push(pagamento);
                    }
                });
                myArray = {
                    'empresa': parseInt($('[name="empresa"]').val() || 0),
                    'para': parseInt($('[name="para"]').val() || 0),
                    'valor': $('[name="valor"]').val() || 0,
                    'tipopedido': parseInt($('[name="tipopedido"]').val() || 0),
                    'forn': parseInt($('[name="forn"]').val() || 0),
                    'descricao': $('[name="descricao"]').val(),
                    'pagamentos': pagamentos
                }
                console.log('myArray', myArray);
                formData.append('data', JSON.stringify(myArray));

                for(let i = 0; i < $('.foto_upload').length; i++) {
                    formData.append('foto_'+i, $('.foto_upload')[i].files[0]);
                }
                
                ajaxForm = $.ajax({
                    type: "POST",
                    url: '/funcionario/pedido/cadastrar/',
                    data: formData,
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    //xhr: function() {
                    //    var myXhr = $.ajaxSettings.xhr();
                    //    if (myXhr.upload) {
                    //        myXhr.upload.addEventListener('progress', function (e) {
                    //            console.log('UPLOAD', e);
                    //        }, false);
                    //    }
                    //    return myXhr;
                    //},
                    success: function(data) {
                        ajaxForm = null;
                        console.log('success', data);
                        swal({
                            title: "Sucesso",
                            text: data.description,
                            type: "success",
                            allowClickOutside: false,
                            allowEscapeKey: false
                        }, function(){
                            window.location = '/funcionario/pedido/';
                        });
                    },
                    error: function(data) {
                        ajaxForm = null;
                        console.error('erro', data);
                        if(data.status == 404){
                            swal({
                                title: "Erro",
                                text: 'Entre em contato com o suporte.',
                                type: "error",
                                allowClickOutside: false,
                                allowEscapeKey: false
                            });
                        } else {
                            swal({
                                title: "Erro",
                                text: data.responseJSON.description,
                                type: "warning",
                                allowClickOutside: false,
                                allowEscapeKey: false
                            });
                        }
                    }
                });
            }
        });
    }
});
$('#addPg').click();
</script>
{% endblock %}