{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Historico list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Datapassagem</th> 
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('historico_show', { 'id': entity.id }) }}">{{ entity.codigo }}</a></td>
                <td>{% if entity.dataPassagem %}{{ entity.dataPassagem|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('historico_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('historico_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('historico_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
